@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*.md";

@theme {
  --color-nirvati-brand: #800080;
  --color-nirvati-50: #fff1fe;
  --color-nirvati-100: #ffe1fe;
  --color-nirvati-200: #ffc3fe;
  --color-nirvati-300: #ff94f9;
  --color-nirvati-400: #ff54f6;
  --color-nirvati-500: #ff16f4;
  --color-nirvati-600: #f500ff;
  --color-nirvati-700: #d100d9;
  --color-nirvati-800: #ad00b1;
  --color-nirvati-900: var(--color-nirvati-brand);
  --color-nirvati-950: #620063;
}
